<% if @suggesting.destroyed? %>
  $('#flash')
    .html('<div class="alert alert-success"><%= flash[:success] %></div>')
<% else %>
  $('#flash')
    .html('<div class="alert alert-danger"><%= flash[:danger] %></div>')
<% end %>
$('tbody').html('<%= j render partial: "list_suggesting", locals: {suggestings: @suggestings} %>')
