<tr class="product-in-cart">
  <% if product.present? %>
    <td class="w15">
      <%= image_tag product.picture.url, class: "img-responsive",
        alt: t("alt.product_image") %>
    </td>
    <td class="w20">
      <p><%= product.product_name %></p>
    </td>
    <td class="w30">
      <p><%= product.product_description %></p>
    </td>
    <td class="w15">
      <p><%= product.product_price %></p>
    </td>
  <% end %>
</tr>
