<%= provide :title, t("product.add_new_button") %>
<%= provide :button_text, t("product.add_button") %>
<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <%= render "form" %>
  </div>
</div>
