@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

body {
  padding-top: 60px;
  position: relative;
  min-height: 1200px;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  background-color: #efefef;
  height: 32px;
  li {
    list-style: none;
    display: inline;
    font-size: 16px;
    padding-right: 20px;
    line-height: 32px;
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 48px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 19px;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: $gray-light;
}

.col-md-7 h2 {
  text-align: left;
}

p {
  font-size: 18px;
  line-height: 27px;
}

/* header */

.header-cart {
  position: absolute;
  text-align: center;
  .svg-button-cart {
    background-image: image-url('shopping-cart.svg');
    height: 25px;
    width: 25px;
    display: inline-block;
  }
  span.cart-count {
    position: relative;
    top: -17px;
    left: -13px;
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 6px;
  }
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 27px;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#sessions_remember_me {
  width: auto;
  margin-left: 0px;
}

/* cart */

table.cart-table {
  border-collapse: collapse;
  th {
    border-bottom: 0px !important;
  }
  td {
    border: 0 !important;
  }
  .w45 {
    width: 45%;
  }
  .w20 {
    width: 20%;
  }
  .w15 {
    width: 15%;
  }
}

.price-slider {
  display: flex;
  flex-direction: column;
  label {
    text-align: center;
    padding-bottom: 10px;
    &:last-child {
      padding-top: 10px;
      padding-bottom: 0;
    }
  }
  .slider-wrapper {
    text-align: center;
  }
}

.product-in-cart {
  position: relative;
  border-bottom: 15px solid white;
  margin-bottom: 10px;
  background-color: #f8f8f8;
  .btn-remove-product {
    text-decoration: none;
    font-size: 24px;
    color: #888;
  }
}
.order-summary {
  padding-left: 30px;
  .btn-checkout {
    width: 100%;
    text-transform: uppercase;
    border-radius: 0px;
  }
}

/* ratings */

.rate {
  float: left;
  height: 30px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -999999px;
}

.rate:not(checked) > label {
  float: right;
  width: 16px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

p.ratings {
  margin-top: 10px;
}

/* products */
.product-list {
  display: flex;
  flex-flow: row wrap;
  .product-thumbnail {
    margin-bottom: 30px;
  }
}

/* categories */

.category-menu{
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #1bc2a2;
  }
  ul li {
    display: block;
    position: relative;
    float: left;
    background: #1bc2a2;
    z-index: 1 !important;
  }
  li ul {
    display: none;
  }
  ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
  }

  ul li a:hover {
    background: #2c3e50;
  }
  li:hover > ul {
    display: block;
    position: absolute;
  }
  li:hover li {
    float: none;
  }
  li:hover a {
    background: #1bc2a2;
  }
  li:hover li a:hover {
    background: #2c3e50;
  }

  .main-navigation li ul li {
    border-top: 0;
  }

  ul ul ul {
    left: 100%;
    top: 0;
  }

  ul:before, ul:after {
    content: " ";
    display: table;
  }
  ul:after {
    clear: both;
  }
}

.paginate {
  text-align: center;
}

/* users */

.full-width-button {
  width: 100%;
  text-transform: uppercase;
}

table.recenty-viewed {
  border-collapse: collapse;
  th {
    border-bottom: 0px !important;
  }
  td {
    border: 0 !important;
  }
  .w45 {
    width: 45%;
  }
  .w20 {
    width: 20%;
  }
  .w15 {
    width: 15%;
  }
  .rating {
    label {
      font-size: 22px;
    }
  }
}

.rating-point-product {
  width: 80px;
}

.btn-rating {
  width: 80px;
  background-color: #473C8B;
  color: #F8F8FF;
}

.btn-rating:hover {
    background-color: #FFFF00;
    color: #000000;
}

.img-responsive-index {
  width: 180px;
  height: 180px;
}

.img-responsive-show{
  width: 400px;
  height: 400px;
}

#custom-search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px\9;
  padding-left: 3px;
  padding-left: 4px\9;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#D9230F;
}

.search-query:focus + button {
  z-index: 3;
}

.btn-confirm {
  width: 70px;
  float: left;
}

.btn-reject {
  width: 70px;
  margin-left: 5px;
}
